# Entorno virtual
.venv/

# Archivos temporales
__pycache__/
*.pyc

# Builds y ejecutables
build/
dist/
*.spec
*.exe

# Archivos del sistema
.DS_Store
Thumbs.db

# Entornos de desarrollo
.idea/
.vscode/

# Ignorar todos los exe, excepto los de releases
*.exe
!releases/*.exe